@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Cup 2018</h1>

</div>

<div class="row">
    <p>
        The FIFA World Cup, often simply called the World Cup, is an international association football competition contested by the senior men's national teams of the members of the Fédération Internationale de Football Association (FIFA),
        the sport's global governing body. The championship has been awarded every four years since the inaugural tournament in 1930,
        except in 1942 and 1946 when it was not held because of the Second World War. The current champion is Germany,
        which won its fourth title at the 2014 tournament in Brazil.
    </p>

    <p>
        The current format of the competition involves a qualification phase, which currently takes place over the preceding three years,
        to determine which teams qualify for the tournament phase, which is often called the World Cup Finals.
        32 teams, including the automatically qualifying host nation(s),
        compete in the tournament phase for the title at venues within the host nation(s) over a period of about a month.
    </p>
    <p>
        The 20 World Cup tournaments have been won by eight national teams. Brazil have won five times, and they are the only team to have played in every tournament.
        The other World Cup winners are Germany and Italy, with four titles each; Argentina and inaugural winner Uruguay, with two titles each;
        and England, France and Spain, with one title each.
    </p>
    <p>
        The World Cup is the most prestigious association football tournament in the world as well as the most widely viewed and followed sporting event in the world, exceeding even the Olympic Games;
        the cumulative audience of all matches of the 2006 FIFA World Cup was estimated to be 26.29 billion with an estimated 715.1 million people watching the final
        match, a ninth of the entire population of the planet.
    </p>
    <p>
        The 2018 FIFA World Cup will be the 21st FIFA World Cup, a quadrennial international football tournament contested by the men's national teams of
        the member associations of FIFA. It is scheduled to take place in Russia from 14 June to 15 July 2018, after the country was awarded the hosting rights on
        2 December 2010.
    </p>

    <p>
        This will be the first World Cup held in Europe since the 2006 tournament in Germany, and the first ever to be held in Eastern Europe.
        All of the stadium venues are in European Russia, to keep travel time manageable.
    </p>

    <p>
        The final tournament will involve 32 national teams, which include 31 teams determined through qualifying competitions and the automatically qualified
        host team. Of the 32 teams, 20 will be making back-to-back appearances following the last tournament in 2014, including defending champions Germany,
        while Iceland and Panama will both be making their first appearances at a FIFA World Cup. A total of 64 matches will be played in 12 venues located
        in 11 cities. The final will take place on 15 July at the Luzhniki Stadium in Moscow.
    </p>

    <p>The winners of the World Cup will qualify for the 2021 FIFA Confederations Cup.</p>
</div>